[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Recorder
Icon=harbour-recorder
Exec=harbour-recorder

Name[ru]=Диктофон
Name[sv]=Inspelare
Name[it]=Registratore
Name[es]=Grabadora
Name[el]=Ηχογράφηση
Name[fr]=Recorder
