[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Recorder
Icon=harbour-recorder
Exec=harbour-recorder

Name[el]=Ηχογράφηση
Name[es]=Grabadora
Name[fi]=Ääninauhuri
Name[fr]=Recorder
Name[hu]=Hangrögzítő
Name[it]=Registratore
Name[nl]=Recorder
Name[nl_BE]=Geluidsopname
Name[pt_BR]=Gravador
Name[ru]=Диктофон
Name[sv]=Inspelare
Name[zh_CN]=录音机
Name[zh_TW]=錄音機
